<div id="ui-form-sidebar" layout-fill layout="column">
    <md-content flex layout-fill>
        {% if frappe.model.can_get_report(doctype) %}
        <div class="ui-sidebar-section" style="margin-top:0">
            <md-menu md-position-mode="target-left target">
                <!-- Trigger element is a md-button with an icon -->
                <md-button ng-click="$mdMenu.open($event)" aria-label="Reports menu" md-menu-origin>
                    <div layout layout-align="space-between center">
                        <span>{{ __("Reports") }}</span>
                        <md-icon md-font-icon="octicon octicon-triangle-down"></md-icon>
                    </div>
                </md-button>

                <md-menu-content class="ui-reports-list">
                    <md-menu-item>
                        <a class="md-button" href="#Report/{{ doctype }}">{{ __("Report Builder") }}</a>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
        {% endif %}
        <div class="ui-sidebar-section">
            <md-menu md-position-mode="target-left target">
                <!-- Trigger element is a md-button with an icon -->
                <md-button ng-click="$mdMenu.open($event)" aria-label="Kanaban menu" md-menu-origin>
                    <div layout layout-align="space-between center">
                        <span>{{ __("Kanban") }}</span>
                        <md-icon md-font-icon="octicon octicon-triangle-down"></md-icon>
                    </div>
                </md-button>

                <md-menu-content class="ui-kanban-list">
                    <md-menu-item>
                        <a class="md-button new-kanban-board">{{ __("New Kanban Board") }}</a>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
        <div class="ui-sidebar-section ui-section-group" layout layout-align="center center">
            <div flex class="list-link" data-view="List">
                <a class="md-button" href="#List/{%= doctype %}/List" layout-fill>
                    <md-tooltip md-direction="top">
                        {%= __("List") %}
                    </md-tooltip>
                    <md-icon md-font-icon="octicon octicon-list-ordered"></md-icon>
                </a>
            </div>

            <div flex class="hide list-link" data-view="Image">
                <a class="md-button" href="#List/{%= doctype %}/Image" layout-fill class="ui-active">
                    <md-tooltip md-direction="top">
                        {%= __("Images") %}
                    </md-tooltip>
                    <md-icon md-font-icon="octicon octicon-file-media"></md-icon>
                </a>
            </div>
            <div flex class="hide tree-link">
                <a href="#Tree/{%= doctype %}" class="md-button" layout-fill>
                    <md-tooltip md-direction="top">
                        {%= __("Tree") %}
                    </md-tooltip>
                    <md-icon md-font-icon="octicon octicon-git-branch"></md-icon>
                </a>
            </div>
            <div class="hide list-link" data-view="Gantt">
                <a href="#List/{%= doctype %}/Gantt" class="md-button" layout-fill>
                    <md-tooltip md-direction="top">
                        {%= __("Gantt") %}
                    </md-tooltip>
                    <md-icon md-font-icon="octicon octicon-gist"></md-icon>
                </a>
            </div>
            <div flex class="hide list-link" data-view="Calendar">
                <a href="#List/{%= doctype %}/Calendar" class="md-button" layout-fill>
                    <md-tooltip md-direction="top">
                        {%= __("Calendar") %}
                    </md-tooltip>
                    <md-icon md-font-icon="octicon octicon-calendar"></md-icon>
                </a>
            </div>

        </div>
        <div class="ui-sidebar-section ui-section-click">
            <md-button layout layout-align="space-between center" class="ui-assigned-to-me">
                <span>{%= __("Assigned To Me") %}</span>
                <md-icon md-font-icon="octicon octicon-checklist"></md-icon>
            </md-button>
        </div>

        <div class="ui-sidebar-section ui-section-sim-click ui-list-tags">
            <div layout layout-align="space-between center">
                <span></span>
                <md-button class="md-icon-button list-tag-preview">
                    <md-tooltip md-direction="top">
                        {%= __("Show tags") %}
                    </md-tooltip>
                    <md-icon md-font-icon="octicon octicon-eye"></md-icon>
                </md-button>
            </div>
            <div class="ui-section-related">

            </div>
        </div>


        <div class="hide list-link" data-view="Inbox">
            <div class="btn-group">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ __("Email Inbox") }} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu email-account-dropdown" style="max-height: 300px; overflow-y: auto;">
                </ul>
            </div>
        </div>

        {% if(frappe.help.has_help(doctype)) { %}
        <div><a class="help-link" data-doctype="{{ doctype }}">{{ __("Help") }}</a></div>
        {% } %}

    </md-content>
</div>

